<div class="component-container">
  <div class="header-container">
  <app-header></app-header>
  </div>

<div class="big-container">

  <div class="settings-container">
  <app-settings *ngIf="isTabletMode"></app-settings></div>
  <div class="left-container">
    <div class="timeline-container"><app-timeline [timeline]="timeline"></app-timeline></div>
  <div class="tables-container">
    <div class="for-each-table" *ngFor="let table of tables; let i = index">
      <app-table *ngIf="(i <= 3 && !isTabletMode) || this.sharedDataService.getServeurMode() "
                 [id]="table.id"
                 [numberTable]="table.numberTable"
                 [numberOrder]="table.numberOrder"
                 [dishes]="table.dishes"
                 [simpleView]="false"
                 [time]="table.time"
      ></app-table>
      <app-table *ngIf="i < this.numberOfCooks() && isTabletMode"
                 [id]="table.id"
                 [numberTable]="table.numberTable"
                 [numberOrder]="table.numberOrder"
                 [dishes]="table.dishes"
                 [simpleView]="false"
                 [time]="table.time"

      ></app-table>
    </div>
    </div>
  </div>

    <!-- Side table container -->
    <div *ngIf="!isTabletMode" class="side-table-container">
      <h1>Prochaine(s) commande(s)</h1>
      <div class="for-each-table" *ngFor="let table of tables; let i = index">
        <app-table *ngIf="i > 3 && i<7"
                   [id]="table.id"
                   [numberTable]="table.numberTable"
                   [numberOrder]="table.numberOrder"
                   [dishes]="table.dishes"
                   [simpleView]="true"
                   [time]="table.time"
        ></app-table>
      </div>
      <div class="remaining-info" *ngIf="tables.length > 3">
        <h2 *ngIf="tables.length > 7"><strong>{{ tables.length - 7 }}</strong> table(s) restante(s)</h2>
        <h2 *ngIf="tables.length > 7"><strong>{{ getTotalRemainingDishesCount() }}</strong> plat(s) restant(s)</h2>
      </div>
      <button (click)="onRushMode()">Rush Mode</button>
      <button (click)="resetDishesState()">Réinitialiser les Plats</button>
      <button (click)="ajouterNouvelleTable()">Ajouter une nouvelle table</button>
    </div>
  </div>
  <div *ngIf="isTabletMode" class="side-table-container">
    <div class="tables-restantes">
    <p>Total des tables: {{ tables.length }}</p>
    <p>Total des plats à venir: {{ getTotalDishesCount() }}</p>
    </div>
    <div class="boutoon-valider">
    <button mat-raised-button color="primary"
            [disabled]="!isAnyDishSelected()"
            (click)="onPreparationMode()">
      Préparer
    </button>
    </div>
  </div>

</div>


