<div class="component-container">
  <app-header></app-header>

<div class="big-container">


  <app-settings *ngIf="isTabletMode"></app-settings>
  <div class="left-container">
    <div class="timeline-container"><app-timeline [timeline]="timeline"></app-timeline></div>
  <div class="tables-container">
    <div *ngFor="let table of tables; let i = index">
      <app-table *ngIf="i <= 3"
                 [id]="table.id"
                 [numberTable]="table.numberTable"
                 [numberOrder]="table.numberOrder"
                 [dishes]="table.dishes"
                 [simpleView]="false"
                 [time]="table.time"
      ></app-table>
    </div>
    </div>
  </div>
    <!-- Side table container -->
    <div *ngIf="!isTabletMode" class="side-table-container">
      <h1>Prochaine commande</h1>
      <div *ngFor="let table of tables; let i = index">
        <app-table *ngIf="i > 3"
                   [id]="table.id"
                   [numberTable]="table.numberTable"
                   [numberOrder]="table.numberOrder"
                   [dishes]="table.dishes"
                   [simpleView]="true"
                   [time]="table.time"
        ></app-table>
      </div>
      <button mat-raised-button color="primary"
              [disabled]="!isAnyDishSelected()"
              (click)="onPreparationMode()">
        Valider
      </button>
      <button (click)="onRushMode()">Rush Mode</button>
      <button (click)="resetDishesState()">Réinitialiser les Plats</button>
      <button (click)="ajouterNouvelleTable()">Ajouter une nouvelle table</button>
    </div>
  </div>

</div>


