/* Default styles for normal mode */
.big-container {
  display: flex;
  height: 100vh; /* Set the container to take the full height of the viewport */
}

.tables-container {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche au lieu de space-between */
  flex-grow: 1;
}

.app-table {
  flex-grow: 1; /* Allow tables to take up equal space */
  max-width: calc(25% - 10px); /* 25% width with 10px gap */
  flex-basis: calc(25% - 10px); /* Ajout de flex-basis pour spécifier la base de la taille */
}

.side-table-container {
  background-color: grey;
  width: max-content;
  padding: 0.5rem;
  margin-left: 1rem;
}

.side-table-container h1 {
  white-space: nowrap;
  color: white;
  margin: 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .big-container {
    flex-direction: column;
    align-items: stretch;
  }

  .tables-container {
    width: 100%;
    justify-content: flex-start; /* Alignement à gauche en mode mobile */
  }

  .app-table {
    max-width: 100%; /* Tables take up full width on smaller screens */
    flex-basis: unset; /* Réinitialisation de flex-basis pour laisser le contenu déterminer la taille */
  }

  .side-table-container {
    width: 100%;
    margin-top: 10px;
    height: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}
