<div class="component-container">
<div class="header">
  <h1>Un petit Cre'vette ?</h1>
</div>

<div class="big-container">
  <app-settings></app-settings>
  <div class="tables-container">
    <div *ngFor="let table of tables; let i = index">
      <app-table *ngIf="i <= 3"
                 [numberTable]="table.numberTable"
                 [numberOrder]="table.numberOrder"
                 [dishes]="table.dishes"
                 [simpleView]="false"
      ></app-table>
    </div>

  </div>



  <div class="side-table-container">
    <h1>Prochaine commande</h1>
    <div *ngFor="let table of tables; let i = index">
      <app-table *ngIf="i > 3"
                 [numberTable]="table.numberTable"
                 [numberOrder]="table.numberOrder"
                 [dishes]="table.dishes"
                 [simpleView]="true"
      ></app-table>
    </div>
    <button (click)="onValidate()">Valider</button>
    <button (click)="onRushMode()">Rush Mode</button>
  </div>



</div>


<button (click)="ajouterNouvelleTable()">Ajouter une nouvelle table</button>
</div>
