<div class="allPage">
  <!-- Ingrédients disponibles (1ère liste) -->
  <div cdkDropList #availableIngredientsList="cdkDropList" [cdkDropListData]="ingredients"  cdkDropListOrientation="horizontal"
       [cdkDropListConnectedTo]="[dishIngredientsList]"
       (cdkDropListDropped)="onDrop($event)"
       class="ingredients-disponibles2">
    <div *ngFor="let ingredient of ingredients" cdkDrag>
      <div class="ingredient">
        <img [src]="ingredient.image" alt="{{ ingredient.name }}">
        <div>{{ ingredient.name }}</div>
      </div>
    </div>
  </div>

  <!-- Milieu de la page pour déposer les ingrédients -->
  <div class="milieuPage">

    <div cdkDropList #dishIngredientsList="cdkDropList" [cdkDropListData]="dishIngredients"
         [cdkDropListConnectedTo]="[availableIngredientsList, availableIngredientsList2]"
         (cdkDropListDropped)="onDrop($event)"
         class="cercle-ingredients" [ngStyle]="{'background-image': getUrlFondEcran(category)}">
      <div class="ingredient" *ngFor="let ingredient of dishIngredients" cdkDrag>
        <img [src]="ingredient.image" alt="{{ ingredient.name }}">
      </div>
    </div>

    <!-- Étapes rectangulaires -->
    <div class="etapes-rectangulaire" [style.transform]="'rotate(' + angleDeRotation + 'deg)'" cdkDropList (cdkDropListDropped)="onStepDrop($event)">
      <!-- Bouton en haut -->
      <button class="button-haut" (click)="swapEtape()">Swap Etape</button>

      <!-- Div pour le contenu défilant -->
      <div class="etapes-scroll">
        <div *ngFor="let step of getUniqueSteps()" cdkDrag>
          <h3>{{ step }}</h3>
        </div>
      </div>

      <!-- Bouton en bas -->
      <button class="button-bas" (click)="swapEtape()">Swap Etape</button>
    </div>





  </div>

  <!-- Ingrédients disponibles (2ème liste) -->
  <div cdkDropList #availableIngredientsList2="cdkDropList" [cdkDropListData]="ingredients" cdkDropListOrientation="horizontal"
       [cdkDropListConnectedTo]="[dishIngredientsList]"
       (cdkDropListDropped)="onDrop($event)"
       class="ingredients-disponibles">
    <div *ngFor="let ingredient of ingredients" cdkDrag>
      <div class="ingredient">
        <img [src]="ingredient.image" alt="{{ ingredient.name }}">
        <div>{{ ingredient.name }}</div>
      </div>
    </div>
  </div>
</div>
