/* Default styles for TableComponent */
.table-container {
  border: 3px solid;
  margin: 1rem;
  height: 100%;
  border-radius: 8px;
  flex-direction: column; /* Ajout de la propriété flex-direction */
  border-width: 7px;

}

.table-info {
  background-color: #f2f2f2;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.dishes-list {
  padding: 1%;
}

.sous-titre {
  margin-top: .3rem;
  display: flex;
  justify-content: space-between;
}

.numberTable {
  float: right;
}

.dishes-count {
  background-color: white;
  padding: .5rem;
  border-radius: 0 0 8px 8px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
  .table-container {
    width: 100%;
    max-width: none;
  }
  .dishes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr)); /* Utilisez auto-fit pour s'ajuster automatiquement à la largeur disponible */
    gap: 10px; /* Espace entre les colonnes et les lignes */
  }
}
