<div class="table-container">
  <div class="table-info">
    <h2> {{time.getHours()}}:{{time.getMinutes()}}:{{time.getSeconds()}} </h2>
    <div class="sous-titre">
    <p class="numberTable">Table {{ this.numberTable }}</p>
    <p class="numberTable">#{{ this.numberOrder }}</p></div>
  </div>

  <!-- Affiche le nombre de plats si simpleView est vrai -->
  <div *ngIf="simpleView" class="dishes-count">
    Nombre de plats: {{ dishes.length }}
  </div>

  <!-- Affiche la liste des plats si simpleView est faux -->
  <div *ngIf="!simpleView" class="dishes-list">
    <app-dish *ngFor="let dish of dishes"
              [name]="dish.name"
              [image]="dish.image"
              [quantity]="dish.quantity"
              [customerSpecification]="dish.customerSpecification ?? []"
              [ingredients]="dish.ingredients"
              [state]="dish.state"
              [recipeExpert]="dish.recipeExpert"
              [recipeNovice]="dish.recipeNovice"
    ></app-dish>
  </div>
</div>
