<div class="table-container" [ngStyle]="{ 'border-color': generateColor(this.id) }" [class.detailed-mode]="isDetailedMode" (click)="handleTableClick()">
  <div class="table-info">
    <h2>{{ time | date:'HH:mm:ss' }}</h2>
    <div class="sous-titre">
      <p class="numberTable">Table {{ numberTable }}</p>
      <p class="numberTable">#{{ numberOrder }}</p>
    </div>
  </div>

  <!-- Affiche le nombre de plats si simpleView est vrai -->
  <div *ngIf="simpleView" class="dishes-count">
    Nombre de plats: {{ dishes.length }}
  </div>

  <!-- Affiche la liste des plats si simpleView est faux -->
  <div *ngIf="!simpleView" class="dishes-list">
    <app-dish *ngFor="let dish of getDisplayedDishes()"
              [id]="dish.id"
              [tableId]="dish.tableId"
              [name]="dish.name"
              [image]="dish.image"
              [quantity]="dish.quantity"
              [customerSpecification]="dish.customerSpecification ?? []"
              [ingredients]="dish.ingredients"
              [state]="dish.state"
              [recipeExpert]="dish.recipeExpert"
              [recipeNovice]="dish.recipeNovice"
              [color]="color"
              [isExpanded]="true"
    ></app-dish>
  </div>
</div>
