<div class="dish-container"
     (click)="toggleSelection()"
     [ngClass]="{
       'selected': isSelected && isTabletMode,
       'non-selectable': isTabletMode && state !== this.DishState.NotAssigned && this.sharedDataService.numberOfCooks > 1
     }"
     [ngStyle]="{ 'border-color': generateColor(this.tableId) }">
  <div class="color-square" [ngStyle]="{ 'background-color': getColor() }"></div>
  <div class="image-and-text">
  <div class="image-container" *ngIf="this.shouldDisplayImage">
    <img [src]="image" *ngIf="isExpanded" class="image" alt="Image du plat">
  </div>
  <div class="text-container">
    <p>{{ this.quantity }}x {{ name }}</p>
    <div class="customer-specification" *ngIf="customerSpecification && customerSpecification.length > 0">
      <p>{{ customerSpecification.join(', ') }}</p>
    </div>
  </div>
  </div>
</div>
