/* preparation-mode.component.css */
.preparation-mode {
  padding: 20px;
}

.customer-specification {
  color: red;
}

.bouton-retour{
  margin-top: 20px;
  float: right;
}

.preparation-title {
  text-align: center;
  margin-bottom: 20px;
}

.selected-dish .mat-expansion-panel-header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

/* Style pour la div contenant l'étape */
.step-container {
  border: 1px solid #ccc;
  padding: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  width: 96%;
  box-sizing: border-box;
  position: relative;
}

.step-container.hasNextStep::after {
  content: '➤';
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  color: #666;
  display: none;
}

.step-container.hasNextStep::after {
  display: block;
}

/* Style pour le bouton "Retour" */
.step-back-button {
  margin-top: 1%;
  display: block; /* S'assurer que le bouton est toujours visible */
}

/* Styles pour les médias queries */
@media (max-width: 768px) {
  .preparation-mode {
    padding: 10px;
  }

  .step-container {
    padding: 5px;
    margin-bottom: 2%;
  }
}

.validate-icon {
  width: 20px;
  height: 20px;
  border: 5px solid #ccc; /* Bordure plus épaisse */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 30px; /* Ajoutez un peu d'espace à gauche si nécessaire */
}

.strikethrough {
  text-decoration: line-through;
}
