.preparation-mode .selected-dish {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Arrondir les coins */
}

.selected-dish .dish-title {
  padding: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  border-bottom: 1px solid #ccc; /* Ligne de séparation */
}

.selected-dish .dish-title h3 {
  margin: 0; /* Retirer la marge par défaut du h3 */
}

.selected-dish .recipe-details {
  padding: 10px;
}
