<!-- preparation-mode.component.html -->
<div class="preparation-mode">
  <h1 class="preparation-title">Plats à Préparer</h1>

  <!-- Affichage en mode expert -->
  <mat-accordion *ngIf="isExpertMode()">
    <mat-expansion-panel *ngFor="let dish of selectedDishes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ dish.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Affichage des ingrédients (aussi en mode expert) -->
      <div *ngIf="dish.customerSpecification && dish.customerSpecification.length > 0">
        <h3>Spécification</h3><p class="customer-specification">{{ dish.customerSpecification.join(', ') }}</p>
      </div>

      <!-- Affichage des ingrédients (aussi en mode expert) -->
      <div>
        <h3>Ingrédients</h3>
        <ul>
          <li *ngFor="let ingredient of dish.ingredients">{{ ingredient.name }}</li>
        </ul>
      </div>

      <!-- Affichage des étapes en mode expert -->
      <div>
        <h3>Étapes</h3>
        <ol>
          <li *ngFor="let step of dish.recipe">{{ step }}</li>
        </ol>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Affichage des recettes en mode novice -->
  <mat-accordion *ngIf="!isExpertMode()">
    <mat-expansion-panel *ngFor="let dish of selectedDishes" [class.completed]="dish.state === 'DONE'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [class.strikethrough]="dish.state === 'DONE'">{{ dish.name }}</span>
        </mat-panel-title>
        <div class="validate-icon" [class.checked]="dish.state === 'DONE'" (click)="validateDish(dish.id, $event)">
          <span *ngIf="dish.state === 'DONE'">✔</span>
        </div>
      </mat-expansion-panel-header>

      <div *ngIf="dish.customerSpecification && dish.customerSpecification.length > 0">
        <h3>Spécifications</h3><p class="customer-specification">{{ dish.customerSpecification.join(', ') }}</p>
      </div>

      <!-- Affichage des ingrédients en mode novice -->
      <div>
        <h3>Ingrédients</h3>
        <ul>
          <li *ngFor="let ingredient of dish.ingredients">{{ ingredient.name }}</li>
        </ul>
      </div>

      <h3>Étapes</h3>

      <!-- Affichage de l'étape actuelle en mode novice -->
      <div class="step-container" [class.hasNextStep]="hasNextStep(dish.id)" (click)="nextStep(dish.id)">
        <p>{{ getCurrentStep(dish.id) }}</p>
        <button *ngIf="hasPreviousStep(dish.id)" mat-button class="step-back-button" (click)="previousStep(dish.id, $event)">
          Retour
        </button>
      </div>

      <!-- Bouton "Retour" en mode novice -->

    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" [disabled]="!allDishesDone()" (click)="returnOnMode()">Retour au Mode Normal</button>
</div>
