<!-- preparation-mode.component.html -->
<div class="preparation-mode">
  <h1 class="preparation-title">Plats à Préparer</h1>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let dish of selectedDishes" class="selected-dish">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ dish.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>


      <div class="recipe-details" *ngIf="!isExpertMode()">
        <h3>Étapes</h3>
        <p *ngIf="currentStepIndex.get(dish.id) ?? 0 < (dish.recipe?.length ?? 0)"
           (click)="nextStep(dish.id)">
          {{ dish.recipe[currentStepIndex.get(dish.id) ?? 0] }}
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
