<div class="container">
  <!-- Section des boutons de catégorie -->
  <div class="category-buttons">
    <button (click)="afficherPlats('Pâtes')"><img src="../../../../assets/images/pate.jpg" alt="Pâtes"></button>
    <button (click)="afficherPlats('Pizzas')"><img src="../../../../assets/images/pizza.jpg" alt="Pizzas"></button>
    <button (click)="afficherPlats('Desserts')"><img src="../../../../assets/images/dessert.jpg" alt="Desserts"></button>
  </div>

  <!-- Section de la liste des plats -->
  <div class="plats-scroll">
    <div class="plats">
      <div *ngFor="let plat of plats">
        <button (click)="modifierPlat(plat)"><img class="platimage" src="{{ plat.image }}" alt="Modifier {{ plat.name }}" class="bouton-image"></button>
      </div>
    </div>
  </div>

  <!-- Section du bouton Ajouter -->
  <div class="bouton-ajouter">
    <button (click)="creerNouveauPlat()"><img src="../../../../assets/images/addbutton.png" alt="Ajouter"></button>
  </div>
</div>
