<div class="component-container">
  <app-header></app-header>

  <h2>{{upcomingDishes.size}}</h2>

  <div class="main-container">
    <div class="current-dishes-container" *ngIf="groupedDishes.size > 0; else isNormal">
      <div class="category-container" *ngFor="let category of groupedDishes.keys()">
        <h2>{{ category }}</h2>
        <div class="dishes-in-category">
          <div *ngFor="let dish of groupedDishes.get(category)">
            <app-dish
              [name]= "dish.name"
              [image]="dish.image"
              [quantity]="dish.quantity"
              [category]="dish.category"
              [customerSpecification]="dish.customerSpecification"
            ></app-dish>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div *ngFor="let category of upcomingDishesByCategory.keys()">
      <h3>{{ category }}</h3>
      <div *ngFor="let dishChunk of upcomingDishesByCategory.get(category)">
        <div class="upcoming-dishes-category">
          <div *ngFor="let dish of dishChunk">
            <app-dish
              [name]="dish.name"
              [image]="dish.image"
              [quantity]="dish.quantity"
              [category]="dish.category"
              [customerSpecification]="dish.customerSpecification"
            ></app-dish>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #isNormal>
  <app-normal-mode></app-normal-mode>
</ng-template>
