<div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- Mode Novice/Expert -->
    <div mat-menu-item>
      <mat-checkbox [(ngModel)]="isExpertMode" (change)="onExpertModeChange()" (click) = "$event.stopPropagation()">Mode Expert</mat-checkbox>
    </div>
    <div mat-menu-item>
      <mat-checkbox [(ngModel)]="isServeurMode" (change)="onServeurModeChange()" (click) = "$event.stopPropagation()">Mode Serveur</mat-checkbox>
    </div>
<br>
    <p>Nombre de cuisiniers</p>
    <!-- Button toggle for selecting the number of cooks -->
    <div mat-menu-item>
      <div mat-menu-item>
        <mat-button-toggle-group [(ngModel)]="selectedNumberOfCooks">
          <mat-button-toggle value="1" (click)="selectNumberOfCooks(1)">1</mat-button-toggle>
          <mat-button-toggle value="2" (click)="selectNumberOfCooks(2)">2</mat-button-toggle>
          <mat-button-toggle value="3" (click)="selectNumberOfCooks(3)">3</mat-button-toggle>
          <mat-button-toggle value="4" (click)="selectNumberOfCooks(4)">4</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </mat-menu>
</div>
